<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Trendy_go</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    
    <!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Toastify -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet">


</head>

<body>
    <header class="header-area header-style-5">
        <div class="logo logo-width-1">
            <div class="text-center">
                <div id="news-flash" class="d-inline-block">
                    <ul>
                        
                        <li>Thank you for shopping, we are so glad !!! </li>
                    </ul>
            <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="TRendy_Go"></a>
        </div> 
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                    </div>
                </div>
                  
            </div>
        </div>
    </header>

<section class="content-main" >
    <% if(orders){ %>
       
    <div class="content-header">
        <div>
            <br><br>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: <%=orders.orderId%></p>
        </div>
    </div>
    <div class="card" >
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i>Date :  <b> <%= new Date(orders.orderDate).toLocaleString()%></b>
                    </span> <br>
                    <span id="orderid">Order id: <%= orders.orderId %></span>
                </div>
                
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                              <%= orders.address.name %> <br> <%= orders.userId.email %> <br> +91 <%= orders.address.phone %>
                            </p>
                            <!-- <a href="#">View profile</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: ₹ 50  <br> Pay method:<%= orders.paymentMethod %><br>Payment Status:<%= orders.paymentStatus %>
                                
                                 
                            </p>
                            <!-- <a href="#">Download info</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                              
                                <h6 class="text-muted"><%= orders.address.name %></h6>
                                City:<%= orders.address.housename %>, <%= orders.address.city %> <br><%= orders.address.state %>, Landmark: <%= orders.address.landmark %>,<br>
                                 Locality:<%= orders.address.city %>,
                                 Pincode:<%= orders.address.pincode %><br>
                                 Phone Number:<%= orders.address.phone %>
                            </p>
                            <!-- <a href="#">View profile</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <% console.log("orders in ooooo", orders) %>
                            <tbody>
                           <% for(let j=0;j<orders.products.length ;j++) {%>
                                <tr>
                                    <td>
                                        <a class="itemside" href="#">
                                           

                                            <div class="left">
                                                <img src="/assetsb/productImages/<%= orders.products[j].productId.image[0] %>" width="70" height="70" class="img-sm" alt="Item">
                                            </div>
                                            <div class="info">product: <%= orders.products[j].productId.product_name %> , size: <%= orders.products[j].size %> </div>
                                        </a>
                                    </td>
                                    <td> ₹ <%= orders.products[j].productId.offerPrice>0 ? orders.products[j].productId.offerPrice : orders.products[j].productId.discount_price %></td>
                                    <td><%= orders.products[j].quantity %> </td>
                                    <td class="text-end"> ₹ <%= orders.products[j].productId.discount_price * orders.products[j].quantity %>  </td>
                                </tr>
                            
                        
                            

                                <tr>
                                    <td colspan="4">
                                        
                                        <article class="float-end">
                                            
                                                <span>Subtotal:</span>&nbsp&nbsp&nbsp&nbsp<span>₹ <%= orders.products[j].productId.discount_price * orders.products[j].quantity %>  </span><br>
                                                <span>Shipping cost:</span>&nbsp&nbsp&nbsp&nbsp<span>₹50.00</span><br>
                                                <!-- <span>Applied Coupon:</span>&nbsp&nbsp&nbsp&nbsp<span>></span><br> -->
                                                <!-- <span>Discount:</span>&nbsp&nbsp&nbsp&nbsp<span>₹//discount.00</span><br> -->
                                               

                                                <span>Grand total:</span>&nbsp&nbsp&nbsp&nbsp<span class="text-brand">₹ <%= orders.totalAmount %>  </span><br>
                                                <span>Status:</span>&nbsp&nbsp&nbsp&nbsp  <%= orders.orderStatus %>  
                                                  
                                        </article>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive// -->
                </div> <!-- col// -->
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="box shadow-sm bg-light">
                        <h6 class="mb-15">Payment info</h6>
                        <p>
                            <!-- <img src="/assetsb/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br> -->
                            Payment: <h6><%=orders.PaymentMethod%></h6>
                                    Business name: <%=orders.address.name %><br>
                                    Phone: +91 <%=orders.userId.phone%>
                        </p>
                    </div>
        


                    <div class="h-25 pt-4">
                       <a href="/" class="btn btn-sm">Continue Shopping</a>
                       <% if(orders.orderStatus==="Payment Pending") {%>

                        <a href="/repayment?id=<%= orders._id %>" id="continuePayment" class="btn btn-sm continue-payment" data-orderid="<%= orders._id %>">Continue Payment</a><br><br>

                        <% }else{ %>
                            <button id="print" class="btn btn-sm ">Download Invoice</button><br> <br>
                            <% } %>

                       
                       
           <%for(let i=0;i<orders.products.length;i++){%> 

            <!-- Hidden input field to store the order ID -->
            <% if(orders.orderStatus==="Delivered" ){ %>
                <button class="btn btn-sm" type="submit" id="returnorder" onclick="returnOrder(`<%= orders._id %>`,`<%= orders.products[i].size %>`,`<%= orders.products[i].quantity %>`)" name="returnorder"
                    value="Cancel Order">Return Order</button>

                <% }else if(orders.orderStatus==="Returned"  ){ %>
                    <a href="/shop">already returned go back to shop</a>
                    <%} else if(orders.orderStatus=="Return Processing" ){%>
                        <button onclick="cancelReturn(`<%= orders._id %>`,`<%= orders.products[i].size %>`,`<%= orders.products[i].quantity %>`)" class="btn  mr-10 mb-sm-15"><i
                                class="fi-rs-cross mr-10"></i>Cancel Return</button>

                    <% }else if(orders.orderStatus==="Order Placed" || orders.orderStatus==="Shipped" ){ %>
                        <button class="btn btn-sm" type="submit" id="cancelorder" name="cancelorder"
                        value="Cancel Order" onclick="cancelOrder('<%= orders._id %>',`<%= orders.products[i].size %>`,'<%= orders.products[i].quantity %>')">Cancel Order</button>
                   
                    <% }else if(i===0){ %>
                        <a href="/profile"><button class="btn btn-sm" type="submit" id="pending-order" name="pending-order"
                            value="Cancel Order">Back</button></a>
                        <% } %>



      

                    </div>
                    
                </div> <!-- col// -->
            </div>
        </div> <!-- card-body end// -->
      
        <% }} %>

        
    </div> <!-- card end// -->
</section>  <!-- content-main end// -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
     
    //  document.getElementById("continuePayment").addEventListener('click',function(event){
    //     event.preventDefault()
    //     alert("hello")
    //     const orderId = this.dataset.orderid;
    //     $.ajax({
    //         url:"/repayment",
    //         method:"POST",
    //         data:{
    //             orderId :orderId
    //         },
    //         success:function(response){
    //             console.log("response : ",response);
    //         },
    //         error:function(xhr){
    //             console.log("error : ", xhr);
    //         }
    //     })

    //  })



    document
      .getElementById('print')
      .addEventListener('click', function() {
        window.print();
      });


      function cancelOrder(id,size,quantity){
           
           $.ajax({
    url:'/deleteorder',
    method:'post',
    data:{
        id,
        size,
        quantity
       
    },
    success:(response)=>{
      
        if(response.success === true){
          
            
            window.location.reload()
    }
    }
    })
}
function returnOrder(orderID,size,quantity) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Are you sure, you want to return the product ',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, change it!',
            cancelButtonText: 'No, cancel!',
        })
            .then((result) => {
                if (result.isConfirmed) {
                    fetch('/return', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ orderID ,size,quantity})
                    })
                        .then(response => response.json())
                        .then((data) => {
                            if (data.success) {
                                Swal.fire({
                                    title: 'Status has changed',
                                    text: 'The status has changed successfully',
                                    icon: 'success'
                                })
                                    .then(() => {
                                        window.location.reload()
                                    })
                            }
                        })
                }
            })
    }

    function cancelReturn(orderID,size,quantity) {
        fetch('/cancelreturn', {
            method: 'post',
            headers: {
                'Content-type': 'Application/json'
            },
            body: JSON.stringify({ orderID ,size,quantity})
        })
            .then(response => response.json())
            .then((data) => {
                if (data.success) {
                    window.location.reload();
                }
            })
    }  

    </script>


<!-- <script>
   
    // $(document).ready(function () {
    //     let cancelButton = $("#cancelorder");
    //     let returnButton = $('#returnorder');
    //     let rePaymentCancelButton = $("#pending-order");
    //     cancelButton.click(function () {
            
    //         event.preventDefault();
    //         const orderId = $("#orderid").text();
    //       console.log("orderId" + orderId);



    //         Swal.fire({
    //             title: 'Are you sure?',
    //             text: 'Do you want to cancel this order?',
    //             icon: 'warning',
    //             showCancelButton: true,
    //             confirmButtonColor: '#3085d6',
    //             cancelButtonColor: '#d33',
    //             confirmButtonText: 'Yes, cancel it!'
    //         }).then((result) => {
    //             if (result.isConfirmed) {

    //                 $.ajax({
    //                     url: "/deleteorder",
    //                     method: "POST",
    //                     data: {
    //                         orderId: orderId
    //                     },
    //                     success: function (response) {
    //                         Swal.fire({

    //                             icon: "success",
    //                             title: "Your order has been deleted",
    //                             showConfirmButton: false,
    //                             timer: 1500
    //                         }).then(() => {
    //                             window.location.href = "/profile";
    //                         })
    //                     },
    //                     error: function (xhr, status, error) {
    //                         console.error(error);
    //                         Swal.fire({
    //                             icon: 'error',
    //                             title: 'Oops...',
    //                             text: 'Something went wrong!'
    //                         });
    //                     }
    //                 })
    //             }
    //         })

    //     })


        returnButton.click(function () {
            event.preventDefault();
            const orderId = $("#orderid").text();
            
            Swal.fire({
                title: "Return Product !!!",
                text: "Write reason for returning product",
                input: 'text',
                showCancelButton: true
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "/returnorder",
                        method: "POST",
                        data: {
                            orderId: orderId,
                            reason: result.value.trim()
                        },
                        success: function (response) {
                         
                            
                           if(response){
                            Swal.fire({
icon: "success",
title: response.message,
showConfirmButton: false,
timer: 2000
}).then((result)=>{
window.location.href = "/profile"
});

                           }
                        }
                    })
                }
            });

        })


        rePaymentCancelButton.click(function(){
            event.preventDefault();
            const orderId = $("#orderid").text().trim();
            
            Swal.fire({
title: "Are you sure?",
text: "You won't be able to revert this!",
icon: "warning",
showCancelButton: true,
confirmButtonColor: "#3085d6",
cancelButtonColor: "#d33",
confirmButtonText: "Yes, delete it!"
}).then((result) => {
if (result.isConfirmed) {
$.ajax({
url:"/cancelpendingorder",
method:"POST",
data:{
    id:orderId
},
success : function(response){
    console.log("response : ",response);
    if(response){

        Swal.fire({
icon: "success",
title: response.message,
showConfirmButton: false,
timer: 2000
}).then((result)=>{
window.location.href = "/profile"
});
    }

},
error:function(xhr){
    console.log("error : ",xhr);
}
})
}
});


        })



  



</script> -->