<%-include ('../layouts/userHeader.ejs') %>

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <!-- Category Filter and Sorting Options -->
                <div class="widget-category mb-30"  id="category-filter">
                    <!-- Category Filter -->
                    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category  </h5>
                    <ul class="categories">
                        <% if (typeof category !== 'undefined' && category) { %>
                            <% for (let i = 0; i < category.length; i++) { %>
                                <li><a href="/categorysort/?category=<%= category[i]._id %>"><%= category[i].categoryName %></a></li>
                            <% } %>
                        <% } else { %>
                            <li><a href="#">Default Category 1</a></li>
                            <li><a href="#">Default Category 2</a></li>
                            <!-- Add more default categories if needed -->
                        <% } %>
                    </ul>
                    <!-- Sorting Options -->
                    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                    <ul class="categories">
                        <li><a href="/categorysort/lowtohigh">Price: Low to High</a></li>
                        <li><a href="/categorysort/hightolow">Price: High to Low</a></li>
                        <li><a href="/categorysort/A-Z">Aa - Zz</a></li>
                        <li><a href="/categorysort/Z-A">Zz - Aa</a></li>
                    </ul>
                    <!-- Price Range -->
                    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price Range</h5>
                    <ul class="categories">
                        <li><a href="/sorting?start=0&end=500">₹0-₹500</a></li>
                        <li><a href="/sorting?start=500&end=1000">₹500-₹1000</a></li>
                        <li><a href="/sorting?start=1000&end=1500">₹1000-₹1500</a></li>
                        <li><a href="/sorting?start=1500&end=2000">₹1500-₹2000</a></li>
                        <li><a href="/sorting?start=2000&end=0">2000₹+</a></li>
                    </ul>
                </div>
            </div>

            
            <div class="col-lg-10">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        
                    <div class="row product-grid-4">
                         <% for(Product of products){%>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/productdetail?id=<%=Product._id%>">
                                            <img class="default-img" src="/assetsb/productImages/<%=Product.image[0]%>" alt="">
                                            <img class="hover-img" src="/assetsb/productImages/<%=Product.image[0]%>" alt="">
                                        </a>    
                                    </div>
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="shop-grid-right.html"><%= Product.productCategory.categoryName %></a>
                                    </div>
                                    <h2><a href="shop-product-right.html"><%=Product.product_name%></a></h2>
                                    <!-- <div class="rating-result" title="90%">
                                        <span>
                                            <span>90%</span>
                                        </span>
                                    </div> -->
                                    <div class="product-price">
                                        <span><%= Product.offerPrice>0 ? Product.offerPrice:Product.discount_price %> </span>
                                        <span class="old-price"><%= Product.price %></span>
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                   <% }%>
                       
                    </div>
                    <!--End product-grid-4-->
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../layouts/userFooter.ejs') %>
